<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-Recipes></app-Recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>


<div class="container">
    <button [disabled]="showButton" class="btn btn-primary" (click)="ChangeContent()">Click Me to know more..</button>
  
<div *ngIf='show' >
  <h2>Welcome to app component. Here are some Fruits details for you.</h2>
</div>

<div>  
    <br/>
   
  <p class="text-left"><b>Fruits :</b></p>
  <br/>
  <button class="btn btn-primary" (click)="hideImages($event)">Hide Images</button>
  <ul *ngFor="let fruit of fruits; let i = index">
    <li>
      <b>{{fruit}}</b> 
       <img *ngIf="showImages" [src]="imagePath[i]" width="250" height="250"/>
       <blockquote><strong>Summary : </strong><br> {{description[i]}}</blockquote>
    </li>
  </ul>

</div>
</div>